__pycache__
*.pyc
.git
.gitignore
.claude/
.kiro/
.aider*
.vscode/

prd/
scripts/
.venv/
.prompts

.dockerignore
docker/Dockerfile
docker/build.sh
docker/start_docker.sh

env/
tasks/
tools/
logs/
docs/
tests/

*.md
*.log
.env*